<footer class="bg-dark text-center text-white mt-4">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="https://travelnex.onrender.com/">travelNEX.com</a>
    </div>
    <!-- Copyright -->
</footer>

<script>
    //to add class fixed-bottom to footer when the page is not long enough
    //to push the footer to the bottom of the page
    //and to remove the class when the page is long enough
    //to push the footer to the bottom of the page
    $(document).ready(function () {
        var docHeight = $(window).height();
        var footerHeight = $('footer').height();
        var footerTop = $('footer').position().top + footerHeight;
        if (footerTop < docHeight) {
            $('footer').addClass('fixed-bottom');
        }
        else {
            $('footer').removeClass('fixed-bottom');
        }
    });
</script>