<style>
	.registercontainer {
		width: 60%;
		margin: auto;
	}

	@media screen and (max-width: 800px) {
		.registercontainer {
			width: 100%;
			margin: auto;
		}
	}
</style>

<!-- Section: Design Block -->
<section class="text-center">
	<!-- Background image -->
	<div class="p-5 bg-image" style="
			  background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
			  height: 300px;
			  "></div>
	<!-- Background image -->
	<div class="registercontainer">
		<div class="card mx-4 mx-md-5 shadow-5-strong" style="
				  margin-top: -100px;
				  background: hsla(0, 0%, 100%, 0.8);
				  backdrop-filter: blur(30px);
				  ">
			<div class="card-body py-5 px-md-5">
				<div class="row d-flex justify-content-center">
					<div class="col-lg-8">
						<h2 class="fw-bold mb-5">Find Username</h2>
						<form action="forgotusername" method="post">
							<!-- Password input -->
							<div class="form-outline mb-4">
								<input type="email" id="form3Example4" class="form-control" name="email"
									placeholder="example@email.com" required />
							</div>

							<!-- Submit button -->
							<button type="submit" class="btn btn-primary btn-block mb-4">
								Submit
							</button>
						</form>

						<p>Forgot Password? <a href="forgotpassword">Click Here</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
<!-- Section: Design Block -->