<style>
	.registercontainer {
		width: 60%;
		margin: auto;
	}

	@media screen and (max-width: 800px) {
		.registercontainer {
			width: 100%;
			margin: auto;
		}
	}
</style>

<!-- Section: Design Block -->
<section class="text-center">
	<!-- Background image -->
	<div class="p-5 bg-image" style="
			  background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
			  height: 300px;
			  "></div>
	<!-- Background image -->
	<div class="registercontainer">
		<div class="card mx-4 mx-md-5 shadow-5-strong" style="
				  margin-top: -100px;
				  background: hsla(0, 0%, 100%, 0.8);
				  backdrop-filter: blur(30px);
				  ">
			<div class="card-body py-5 px-md-5">
				<div class="row d-flex justify-content-center">
					<div class="col-lg-8">
						<h2 class="fw-bold mb-5">Reset Password</h2>
						<form action="" method="post">
							<!-- Password input -->
							<div class="form-outline mb-4">
								<input type="password" id="password" class="form-control" name="password"
									placeholder="New Password" required />
							</div>

							<!-- Confirm Password input -->
							<div class="form-outline mb-4">
								<input type="password" id="confirm_password" class="form-control" name="confirmPassword"
									placeholder="Confirm Password" />
							</div>

							<p class="confirmationPassword">

							</p>

							<!-- Submit button -->
							<button type="submit" class="btn btn-primary btn-block mb-4">
								Reset Password
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
<!-- Section: Design Block -->

<script>
	var password = document.getElementById("password");
	var confirm_password = document.getElementById("confirm_password");
	let register = document.querySelector(".btn-primary");

	function validatePassword() {
		if (password.value != confirm_password.value) {
			document.querySelector(".confirmationPassword").innerHTML = "Passwords Don't Match";
			register.disabled = true;
		} else {
			document.querySelector(".confirmationPassword").innerHTML = "";
			register.disabled = false;
		}
	}

	password.onchange = validatePassword;
	confirm_password.onkeyup = validatePassword;
</script>